extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Branden Morgan

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript and Python Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript 
          li Express
          li Pug templates
          li Python
          li Flask
          li Jinja2 templates 
          li Peewee ORM 
          li HTML
          li CSS
        h6 Contact Info

        //- Add your own contact info
        ul
          li 608-772-0750
          li branden.morgan@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/branden-morgan-a2994a24?trk=people-guest_people_search-card') LinkedIn
        a.button.expanded(href='https://github.com/BrandenMorgan') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  