extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        
        h1 Branden Morgan
        
        p.lead.text-light
          | Full Stack JavaScript and Python Developer.
        
        .portfolio-bio
          p
            | My interest in web development began when I discovered my love for foreign  language and communication.  To me, web development is just another form of communication reaching different people from all across the globe.  When I’m not writing great code or developing beautiful web applications you can find me touring the world as a professional drummer.  If you’re looking for someone who is highly self motivated and hardworking with an infinite drive for improvement, or simply want to know more, let’s talk.  I would love to be the one to help you realize your vision as a company or an individual.  I love coding, traveling, playing music and learning new languages. 
           
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li JavaScript 
          li Express
          li Pug templates
          li Python
          li Flask
          li Jinja2 templates 
          li Peewee ORM 
          li HTML
          li CSS
        h6 Contact Info
        
        ul
          li 608-772-0750
          li branden.morgan@gmail.com
        
        a.button.expanded(href='https://www.linkedin.com/in/branden-morgan-a2994a24?trk=people-guest_people_search-card') LinkedIn
        a.button.expanded(href='https://github.com/BrandenMorgan') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  