extends layout

block content
  div.container
    p= `Error status code: ${err.status} - Not Found`
    p.not-found-p #{err.message}

    a.home(href=`/`) Home

    if err

      div.not-found-stack
        hr
        
        pre #{err.stack}